<p id="notice"><%= notice %></p>

<h1>Batallas</h1>
<%= link_to 'Iniciar batalla', new_battle_path , :class => "btn btn-primary" %> 

<table class="table">
  <thead>
    <tr>
    	<th>Usuario</th>
      <th>Personaje</th>
      <th>Resultado</th>
    </tr>
  </thead>

  <tbody>
    <% @battles.each do |battle| %>
      <tr>
      	<td><%= battle.user.name %></td>
        <td><%= battle.character.name %></td>
        <td><%= battle.result ? :Victoria : :Derrota %></td>
      </tr>
    <% end %>
  </tbody>
</table>
